/* initialize loop */
{{#shapes}}
/* only runs for the first element of the loop */
  {{#first}}
  .icon {
    /* note 3 curly brace here to escape a backslash in the url */
    background-image: url('/assets/images/sprites/{{{sprite}}}');
  }

  .no-svg .icon {
    /* filter function replaceSvgWithPng wraps around our sprites */
    background-image: url('/assets/images/sprites/{{#replaceSvgWithPng}}{{{sprite}}}{{/replaceSvgWithPng}}');
  }
  {{/first}}
  .icon--{{base}} {
    width: {{width.outer}}px;
    height: {{height.outer}}px;
    background-position: {{position.relative.xy}} {{}};
  }
{{/shapes}}