body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

img {
  height: auto;
}

* {
  /* change the default width calculations of browser */
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}
