.wrapper {
  /* overflow necessary to account for row.css functionality */
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  /* added 36px to this due to the border-box global setting */
  max-width: 1236px;
  /* center our content */
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
  }

  /* no additional horizontal padding on nested wrappers */
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
  }

  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;

    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}
